<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>

		<Property Id="UpgradesFile" Value="1" />

		<!--$UpgradeStart$-->
			<Upgrade Id="2ef8612a-a825-4031-831c-5b12c974175c">
				<UpgradeVersion Property="OLD_VERSION_FOUND" Minimum="1.0.0" Maximum="1.99.99" IncludeMinimum="yes" IncludeMaximum="yes" OnlyDetect="no" IgnoreRemoveFailure="yes" MigrateFeatures="yes" />
			</Upgrade>
		<!--$UpgradeEnd$-->

	</Fragment>
</Wix>
