<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>

		<Property Id="UpgradesFile" Value="1" />

		<!--$UpgradeStart$-->
			<Upgrade Id="0520546d-ff39-4fb3-8b4a-92d122d9d9cc">
				<UpgradeVersion Property="OLD_VERSION_FOUND" Minimum="1.0.0" Maximum="1.99.99" IncludeMinimum="yes" IncludeMaximum="yes" OnlyDetect="no" IgnoreRemoveFailure="yes" MigrateFeatures="yes" />
			</Upgrade>
		<!--$UpgradeEnd$-->

	</Fragment>
</Wix>
