<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	xmlns:fire="http://wixtoolset.org/schemas/v4/wxs/firewall">
	<Fragment>

		<?include ../Includes.wxi?>

		<DirectoryRef Id="INSTALLFOLDER_INNER" FileSource="$(var.BuildDir)">
			<Component Id="App.exe" Guid="77c04400-6d03-40a6-acb3-b3e87bc09f38">
				<File Id="App.exe" Name="$(var.ExecutableName).exe" KeyPath="yes" Checksum="yes">
					<!--<fire:FirewallException Id="AppEx" Name="$(var.Product) Service" Scope="any" IgnoreFailure="yes" />-->
				</File>
			</Component>
		</DirectoryRef>

		<CustomAction Id="RemoveInstallFolder.SetParam" Return="check" Property="RemoveInstallFolder" Value="[INSTALLFOLDER_INNER]" />
		<CustomAction Id="AddFirewallRules.SetParam" Return="check" Property="AddFirewallRules" Value="1[INSTALLFOLDER_INNER]$(var.ExecutableName).exe" />
		<CustomAction Id="RemoveFirewallRules.SetParam" Return="check" Property="RemoveFirewallRules" Value="0[INSTALLFOLDER_INNER]$(var.ExecutableName).exe" />
		<CustomAction Id="CreateStartService.SetParam" Return="check" Property="CreateStartService" Value="$(var.ServiceName);&quot;[INSTALLFOLDER_INNER]$(var.ExecutableName).exe&quot; --service" />
		<CustomAction Id="TryStopDeleteService.SetParam" Return="check" Property="TryStopDeleteService" Value="$(var.ServiceName)" />

		<CustomAction Id="LaunchApp" ExeCommand="" Return="asyncNoWait" FileRef="App.exe" />
		<CustomAction Id="LaunchAppTray" ExeCommand=" --tray" Return="asyncNoWait" FileRef="App.exe" />
		<Property Id="TerminateProcesses" Value="AppTest.exe" />
		<CustomAction Id="TerminateProcesses.SetParam" Return="check" Property="TerminateProcesses" Value="$(var.ExecutableName).exe" />
		<CustomAction Id="TerminateBrokers.SetParam" Return="check" Property="TerminateProcesses" Value="$(var.RuntimeBrokerName)" />
		<CustomAction Id="SetPropertyIsServiceRunning.SetParam.AppName" Return="check" Property="AppName" Value="$(var.ServiceName)" />
		<CustomAction Id="SetPropertyIsServiceRunning.SetParam.PropertyName" Return="check" Property="PropertyName" Value="STOP_SERVICE" />
		<CustomAction Id="SetPropertyServiceStop.SetParam.ConfigFile" Return="check" Property="ConfigFile" Value="[AppDataFolder]$(var.ConfigName)\config\$(var.ConfigName)2.toml" />
		<CustomAction Id="SetPropertyServiceStop.SetParam.ConfigKey" Return="check" Property="ConfigKey" Value="stop-service" />
		<CustomAction Id="SetPropertyServiceStop.SetParam.PropertyName" Return="check" Property="PropertyName" Value="STOP_SERVICE" />
		<CustomAction Id="TryDeleteStartupShortcut.SetParam" Return="check" Property="ShortcutName" Value="$(var.Product) Tray" />
		<CustomAction Id="RemoveAmyuniIdd.SetParam" Return="check" Property="RemoveAmyuniIdd" Value="[INSTALLFOLDER_INNER]" />
		<CustomAction Id="InstallPrinter.SetParam" Return="check" Property="InstallPrinter" Value="[INSTALLFOLDER_INNER]" />
		<InstallExecuteSequence>

			<Custom Action="SetPropertyIsServiceRunning" After="InstallInitialize" Condition="Installed" />
			<Custom Action="SetPropertyIsServiceRunning.SetParam.AppName" Before="SetPropertyIsServiceRunning" Condition="Installed" />
			<Custom Action="SetPropertyIsServiceRunning.SetParam.PropertyName" Before="SetPropertyIsServiceRunning" Condition="Installed" />

			<Custom Action="SetPropertyServiceStop" After="InstallInitialize" Condition="NOT Installed" />
			<Custom Action="SetPropertyServiceStop.SetParam.ConfigFile" Before="SetPropertyServiceStop" Condition="NOT Installed" />
			<Custom Action="SetPropertyServiceStop.SetParam.ConfigKey" Before="SetPropertyServiceStop" Condition="NOT Installed" />
			<Custom Action="SetPropertyServiceStop.SetParam.PropertyName" Before="SetPropertyServiceStop" Condition="NOT Installed" />

			<!-- Do not call CreateStartService if is uninstalling. -->
			<!-- (Installed AND REMOVE AND NOT UPGRADINGPRODUCTCODE) means uninstalling. -->
			<Custom Action="CreateStartService" Before="InstallFinalize" Condition="(NOT (Installed AND REMOVE AND NOT UPGRADINGPRODUCTCODE)) AND (NOT STOP_SERVICE=&quot;&apos;Y&apos;&quot;) AND (NOT CC_CONNECTION_TYPE=&quot;outgoing&quot;)" />
			<Custom Action="CreateStartService.SetParam" Before="CreateStartService" Condition="(NOT (Installed AND REMOVE AND NOT UPGRADINGPRODUCTCODE)) AND (NOT STOP_SERVICE=&quot;&apos;Y&apos;&quot;) AND (NOT CC_CONNECTION_TYPE=&quot;outgoing&quot;)" />

			<Custom Action="CustomActionHello" Before="InstallFinalize" />

			<!--Shortcut is in InstallValidate section. So we just let it be created, then try delete if stopping service.-->
			<Custom Action="TryDeleteStartupShortcut" After="InstallFinalize" Condition="STOP_SERVICE=&quot;&apos;Y&apos;&quot;" />
			<Custom Action="TryDeleteStartupShortcut.SetParam" Before="SetPropertyIsServiceRunning" Condition="STOP_SERVICE=&quot;&apos;Y&apos;&quot;" />

			<!-- Launch ClientLauncher if installing or already installed and not uninstalling -->
			<!-- https://learn.microsoft.com/en-us/windows/win32/msi/uilevel -->
			<Custom Action="LaunchApp" After="InstallFinalize" Condition="(NOT UILevel=2) AND (NOT (Installed AND REMOVE AND NOT UPGRADINGPRODUCTCODE)) "/>
			<Custom Action="LaunchAppTray" After="InstallFinalize" Condition="(LAUNCH_TRAY_APP=&quot;Y&quot; OR LAUNCH_TRAY_APP=&quot;1&quot;) AND (NOT (Installed AND REMOVE AND NOT UPGRADINGPRODUCTCODE)) AND (NOT STOP_SERVICE=&quot;&apos;Y&apos;&quot;) AND (NOT CC_CONNECTION_TYPE=&quot;outgoing&quot;)"/>

			<!-- https://learn.microsoft.com/en-us/windows/win32/msi/operating-system-property-values -->
			<!-- We have to use `VersionNT` to instead of `IsWindows10OrGreater()` in the custom action.
			Because `IsWindows10OrGreater()` requires the manifest file to be embedded in the executable/dll file.
			Even I have embedded the manifest file, it still does not work correctly in my case.
			https://learn.microsoft.com/en-us/windows/win32/sysinfo/version-helper-apis -->
			<!-- VersionNT >= 603 means can't differentiate between Windows 8.1 and Windows 10.
			Some msi packages reset the `VersionNT` value to 1000 on Windows 10.
			https://www.advancedinstaller.com/user-guide/qa-OS-dependent-install.html -->
			<!-- Remote printer also works on Win8.1 in my test. -->
			<Custom Action="InstallPrinter" Before="InstallFinalize" Condition="VersionNT &gt;= 603 AND PRINTER = 1 OR PRINTER = &quot;Y&quot; OR PRINTER = &quot;y&quot;" />
			<Custom Action="InstallPrinter.SetParam" Before="InstallPrinter" Condition="VersionNT &gt;= 603" />

			<!--Workaround of "fire:FirewallException". If Outbound="Yes" or Outbound="true", the following error occurs.-->
			<!--ExecFirewallExceptions: Error 0x80070057: failed to add app to the authorized apps list-->
			<Custom Action="AddFirewallRules" Before="InstallFinalize" Condition="NOT (Installed AND REMOVE AND NOT UPGRADINGPRODUCTCODE)"/>
			<Custom Action="AddFirewallRules.SetParam" Before="AddFirewallRules" Condition="NOT (Installed AND REMOVE AND NOT UPGRADINGPRODUCTCODE)"/>

			<Custom Action="AddRegSoftwareSASGeneration" Before="InstallFinalize" Condition="NOT (Installed AND REMOVE AND NOT UPGRADINGPRODUCTCODE) AND (NOT CC_CONNECTION_TYPE=&quot;outgoing&quot;)"/>

			<Custom Action="RemoveInstallFolder" Before="RemoveFiles"/>
			<Custom Action="RemoveInstallFolder.SetParam" Before="RemoveInstallFolder"/>
			<Custom Action="TryStopDeleteService" Before="RemoveInstallFolder.SetParam" />
			<Custom Action="TryStopDeleteService.SetParam" Before="TryStopDeleteService" />

			<Custom Action="RemoveFirewallRules" Before="RemoveFiles"/>
			<Custom Action="RemoveFirewallRules.SetParam" Before="RemoveFirewallRules"/>

			<Custom Action="UninstallPrinter" Before="RemoveInstallFolder" Condition="VersionNT &gt;= 603" />

			<Custom Action="TerminateProcesses" Before="RemoveInstallFolder"/>
			<Custom Action="TerminateProcesses.SetParam" Before="TerminateProcesses"/>
			<Custom Action="TerminateBrokers" Before="RemoveInstallFolder"/>
			<Custom Action="TerminateBrokers.SetParam" Before="TerminateBrokers"/>
			<Custom Action="RemoveAmyuniIdd" Before="RemoveInstallFolder"/>
			<Custom Action="RemoveAmyuniIdd.SetParam" Before="RemoveAmyuniIdd"/>
		</InstallExecuteSequence>

		<!-- Shortcuts -->
		<DirectoryRef Id="App.StartMenu">
			<Component Id="App.StartMenu" Guid="761f1ebc-4d88-4910-8b9f-5059c5d38a60">
				<RegistryValue Root="HKCU" Key="Software\$(var.Product)" Name="App.StartMenu" Type="string" Value="1" KeyPath="yes" />
				<RemoveFolder Id="Remove.App.StartMenu" On="uninstall" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="App.StartMenu">
			<Component Id="App.StartMenu.Shortcut" Guid="4870e11a-a8f1-441e-82fd-da6e8a7a3e99" Condition="STARTMENUSHORTCUTS = 1 OR STARTMENUSHORTCUTS = &quot;Y&quot; OR STARTMENUSHORTCUTS = &quot;y&quot;">
				<Shortcut Id="App.StartMenu.Shortcut" Name="!(loc.SC_Client)" Description="!(loc.SC_Client_Desc)" Target="[!App.exe]" Icon="AppIcon" WorkingDirectory="INSTALLFOLDER_INNER" />
				<!--
					Fix ICE 38 by adding a dummy registry key that is the key for this shortcut.
					https://learn.microsoft.com/en-us/windows/win32/msi/ice38
				-->
				<RegistryValue Root="HKCU" Key="Software\$(var.Product)" Name="App.StartMenu.Shortcut" Type="string" Value="1" KeyPath="yes" />
			</Component>

			<Component Id="App.StartMenu.ShortcutUninstall" Guid="642caef6-d436-4d4d-8b17-8acdbef6c694" Condition="STARTMENUSHORTCUTS = 1 OR STARTMENUSHORTCUTS = &quot;Y&quot; OR STARTMENUSHORTCUTS = &quot;y&quot;">
				<Shortcut Id="App.StartMenu.ShortcutUninstall" Name="!(loc.SC_Uninstall)" Description="!(loc.SC_Uninstall_Desc)" Target="[System6432Folder]msiexec.exe" Arguments="/x [ProductCode]" Icon="AppIcon" />
				<RegistryValue Root="HKCU" Key="Software\$(var.Product)" Name="App.StartMenu.ShortcutUninstall" Type="string" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<StandardDirectory Id="DesktopFolder">
			<Component Id="App.Desktop.Shortcut" Guid="4fe45826-a9d2-4130-9407-43494906374e" Condition="DESKTOPSHORTCUTS = 1 OR DESKTOPSHORTCUTS = &quot;Y&quot; OR DESKTOPSHORTCUTS = &quot;y&quot;">
				<Shortcut Id="App.Desktop.Shortcut" Name="!(loc.SC_Client)" Description="!(loc.SC_Client_Desc)" Target="[!App.exe]" Icon="AppIcon" WorkingDirectory="INSTALLFOLDER_INNER" />
				<RegistryValue Root="HKCU" Key="Software\$(var.Product)" Name="App.Desktop.Shortcut" Type="string" Value="1" KeyPath="yes" />
			</Component>
		</StandardDirectory>
		<StandardDirectory Id="StartupFolder">
			<Component Id="App.StartupFolder.ShortcutTray" Guid="4d43ea64-31c2-40be-8b36-1133b59234b1" Condition="STARTUPSHORTCUTS = 1 AND (NOT CC_CONNECTION_TYPE=&quot;outgoing&quot;)">
				<Shortcut Id="App.StartupFolder.ShortcutTray" Name="!(loc.SC_Client_Tray)" Description="!(loc.SC_Client_Tray_Desc)" Target="[!App.exe]" Arguments="--tray" Icon="AppIcon" WorkingDirectory="INSTALLFOLDER_INNER" />
				<RegistryValue Root="HKCU" Key="Software\$(var.Product)" Name="App.StartupFolder.ShortcutTray" Type="string" Value="1" KeyPath="yes" />
			</Component>
		</StandardDirectory>

		<!--<DirectoryRef Id="INSTALLFOLDER_INNER">
			<Component Id="App.UninstallShortcut" Guid="e964beb7-551f-4603-bb39-3129500cda71">
				<Shortcut Id="App.UninstallShortcut" Name="!(loc.SC_Uninstall)" Description="!(loc.SC_Uninstall_Desc)" Target="[System6432Folder]msiexec.exe" Arguments="/x [ProductCode]" Icon="AppIcon" />
			</Component>
		</DirectoryRef>-->

		<ComponentGroup Id="Components" Directory="INSTALLFOLDER_INNER">
			<ComponentRef Id="App.exe" />
			<ComponentRef Id="App.Desktop.Shortcut" />
			<!--<ComponentRef Id="App.UninstallShortcut" />-->
			<ComponentRef Id="App.StartMenu.Shortcut" />
			<ComponentRef Id="App.StartMenu.ShortcutUninstall" />
			<ComponentRef Id="App.StartupFolder.ShortcutTray" />

			<!--$AutoComonentStart$-->
			<Component Guid="1d47a0dd-db2a-44f1-acfb-81f1c284eda7" >
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/desktop_drop_plugin.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="4a6a7a7c-b83c-4fc0-b1c5-1a75343ed08f" >
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/desktop_multi_window_plugin.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="76d889e7-65a6-4d91-8c3d-5845253eb222" >
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/dylib_virtual_display.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="23619cf9-d46d-4d75-97f5-dfe371516011" >
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/file_selector_windows_plugin.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="20893308-c15e-4266-9584-f6b38d21a753" >
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/flutter_custom_cursor_plugin.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="b2dccc8b-c422-4f80-a5de-ef1cb700e5d9" >
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/flutter_gpu_texture_renderer_plugin.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="94ecb8d2-b256-467b-a0a9-fff02656ec9d" >
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/flutter_windows.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="84eb9d57-4543-4c97-b065-0baf3c54091d" >
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/librustdesk.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="aa22b111-8ee0-4c83-afd8-e35a07f7e615" >
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/screen_retriever_plugin.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="b8bd8b4c-304f-475f-8f12-dba633a5086a" >
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/texture_rgba_renderer_plugin.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="2b6feb07-f1c5-4846-b849-1583eae596b1" >
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/uni_links_desktop_plugin.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="4b3d0771-b31a-4ee6-b0d5-a01149e6e931" >
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/url_launcher_windows_plugin.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="c0e517b4-13c8-4c7f-aedb-d4e269dc5ead" >
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/window_manager_plugin.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="8be10fba-b0e8-4ec9-b1a2-05b656b198df" >
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/window_size_plugin.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="be6c0050-3833-42c2-8ce6-6e312944eb28" Subdirectory="data">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/app.so" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="f3bcfa82-492a-4258-ac47-ee378a3d8051" Subdirectory="data">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/icudtl.dat" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="97c5cd0b-86bf-4509-ac61-4561bf712c22" Subdirectory="usbmmidd_v2">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/usbmmidd_v2/idd_instructions.txt" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="59f529c2-145c-485d-802e-70cef97dc8fe" Subdirectory="usbmmidd_v2">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/usbmmidd_v2/License.txt" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="d1a7c7e1-98ca-430e-aef5-2edcda914479" Subdirectory="usbmmidd_v2">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/usbmmidd_v2/usbmmidd.cat" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="2a61ff8c-36b0-4efa-b00f-b49a46cd4743" Subdirectory="usbmmidd_v2">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/usbmmidd_v2/usbmmIdd.inf" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="f687db4a-5a6a-4621-8755-a89bb04fd16b" Subdirectory="data\flutter_assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/AssetManifest.bin" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="e053dcbb-86bd-4a5c-9e66-b9560c0b2ea6" Subdirectory="data\flutter_assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/FontManifest.json" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="14861866-ce30-49f3-bedc-4ac8b02fe70d" Subdirectory="data\flutter_assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/NativeAssetsManifest.json" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="b911be64-d995-4d67-a804-81d5005a334e" Subdirectory="data\flutter_assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/NOTICES.Z" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="644b8ced-cf3b-4aa8-905e-86206bbe32ff" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/actions.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="69b4b271-a68d-45b6-9315-ab7be26c5c4b" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/actions_mobile.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="201bb067-a057-4ce5-8312-7d3d5212f0d2" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/address_book.ttf" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="cb496ada-39d2-4f80-adc8-8f003e6e163a" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/android.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="73d3aa16-5ba5-4ba2-9a2d-ee758c4bbdde" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/arrow.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="b16d918f-e2e7-42b5-a45c-d94a7bde50ca" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/auth-apple.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="d6a480fd-e460-48d6-9338-d685c9540fa6" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/auth-auth0.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="755928f1-9ae9-4449-8e19-694a03ad7ff5" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/auth-azure.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="cf824171-c496-4817-b93b-e531e69c9590" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/auth-default.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="2215346c-5f50-47d6-9490-ebc847b91bd9" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/auth-facebook.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="d26c6ae1-99f7-468b-a712-265310cbfa7f" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/auth-github.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="66a33ff3-a5fa-4410-bea0-09eb22318a89" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/auth-gitlab.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="a82862c9-7d30-44db-aead-c29e604e59fa" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/auth-google.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="24b639cf-e712-4a00-80b4-c07cae844545" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/auth-okta.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="4ad6e70f-7a77-4f63-bcfc-439516aa4a75" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/call_end.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="7442e927-daed-479b-987e-503f7f501bc7" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/call_wait.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="43c24d59-888d-40a5-b9ad-35b4ac2d1180" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/chat.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="ddc511d1-ccce-4db3-801d-f75b3f303826" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/chat2.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="fe94b2a5-88a5-44d5-8b0f-c75af9490c61" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/checkbox-outline.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="dc753fb0-f04b-4208-ab05-651afde48593" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/chevron_up_chevron_down.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="c92d0778-4db4-486f-b151-f754bc4d14ea" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/close.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="77975c02-aa8e-4247-a0e5-82ab02ddf75d" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/device_group.ttf" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="05f769d9-fa5f-4c1d-b327-b3693665a341" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/display.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="6f6396db-3142-4634-98d0-1803f6297d3b" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/dots.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="74f3b3db-82c3-4346-b275-501341662e3c" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/file.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="d2444800-0057-4a5d-9a73-d94c33584bc8" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/file_transfer.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="9fd4af41-fa80-40a3-aea4-d09babb6d34c" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/folder.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="70aecd43-e8db-477a-9c0d-6b81899d5be0" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/folder_new.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="25253c21-88a2-4083-8d7e-d568332c9112" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/fullscreen.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="9cf28867-56cc-4b30-ad73-e99939cb35df" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/fullscreen_exit.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="041a8f1f-fadd-45eb-a3f0-dc5315a51031" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/gestures.ttf" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="ea669d55-35c2-472b-bd19-41de590c71c9" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/home.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="42fd8e35-43cd-485c-b19a-1733091df416" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/icon.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="b67d71d2-8ddb-42e8-95a7-99b8707774eb" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/insecure.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="1746057d-dd0f-48b4-a176-88ee102db02f" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/insecure_relay.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="816d6d5c-753a-4e2f-a2df-a327ca4ff8c5" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/kb_layout_iso.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="6163b7f7-34b5-4308-b58d-7827acd07e1a" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/kb_layout_not_iso.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="decb321a-5dfd-4c9c-b0f4-49bda73e421f" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/keyboard_mouse.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="062167ab-23f0-4333-8105-b0a6066cfb60" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/linux.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="4a51eb69-156a-469f-9c3c-442ffcbf88a4" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/mac.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="18970c15-b075-40b7-a264-6520493d0581" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/message_24dp_5F6368.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="8bde58dc-24fe-4876-812f-15f06a3bddbc" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/more.ttf" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="925e2340-2cc8-46c3-89cb-a6f62d237b98" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/peer_searchbar.ttf" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="536142cf-3ff0-4b6d-9aa6-2c9f31385bfd" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/pinned.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="6bb0aca9-319c-4d9d-a2aa-c8a6e6c795f6" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/rec.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="ba95e384-1eb2-4b1b-96fe-cf5dd8b44a0b" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/record_screen.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="fb639759-b7cf-4df7-8b21-4efbc8e14a19" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/refresh.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="1fb87352-07fe-4245-b68d-f4fe859ae6ea" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/scam.png" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="4e6132cc-0d75-4e04-bc11-e3210dfb399f" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/screen.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="4bc91d93-1905-454f-8f35-f7755e799a32" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/search.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="887e35e7-2b11-4a0d-b6b6-222440cc1e4f" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/secure.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="4b65193c-477d-42cd-b942-bd3e307805f8" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/secure_relay.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="b7a1af94-12de-4d85-b0a7-b2f90c5a106d" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/tabbar.ttf" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="183324da-1a48-4bce-8dc0-5aa5d22a743d" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/transfer.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="6c6c8010-4354-4015-94b9-5a76dcefc13c" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/trash.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="015017e8-ae6d-4f66-8127-701c966129fd" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/unpinned.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="7aa8bbdd-4ef8-4bfc-a7e5-309ac3b80bdd" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/voice_call.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="a4380459-886b-4a72-b3f8-7ececb7eaa91" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/voice_call_waiting.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="2fa78e62-5b72-4157-99b2-50b1f819c3f4" Subdirectory="data\flutter_assets\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/assets/win.svg" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="cb335265-6a21-43ad-bb37-f4402751235d" Subdirectory="data\flutter_assets\fonts">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/fonts/MaterialIcons-Regular.otf" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="61cc89b6-f340-4b1c-8838-9a4237c54b3b" Subdirectory="data\flutter_assets\shaders">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/shaders/ink_sparkle.frag" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="ad4b7ad4-df5a-497e-9b63-14df2b8c484e" Subdirectory="data\flutter_assets\shaders">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/shaders/stretch_effect.frag" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="d1142acf-c3f4-4a30-ba25-97ed96cf261f" Subdirectory="data\flutter_assets\packages\dash_chat_2\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/packages/dash_chat_2/assets/placeholder.png" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="3cd3f141-0af2-44a3-bbe6-ed0bea1af640" Subdirectory="data\flutter_assets\packages\dash_chat_2\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/packages/dash_chat_2/assets/profile_placeholder.png" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="82e840cd-bb98-4e96-b062-c5980140ef5d" Subdirectory="data\flutter_assets\packages\flex_color_picker\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/packages/flex_color_picker/assets/opacity.png" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="f984f042-3961-4635-93eb-4da9d811ef68" Subdirectory="data\flutter_assets\packages\wakelock_plus\assets">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/packages/wakelock_plus/assets/no_sleep.js" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="297c81e1-a7d7-49c2-a3e1-ace8040a9fc9" Subdirectory="data\flutter_assets\packages\window_manager\images">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/packages/window_manager/images/ic_chrome_close.png" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="6b1c36eb-d93e-41cb-b850-b5956404aa08" Subdirectory="data\flutter_assets\packages\window_manager\images">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/packages/window_manager/images/ic_chrome_maximize.png" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="e3401cfe-9c21-44be-b2bc-3535c63e6d26" Subdirectory="data\flutter_assets\packages\window_manager\images">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/packages/window_manager/images/ic_chrome_minimize.png" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="532c9c88-e8cb-4051-9776-e670c74faa82" Subdirectory="data\flutter_assets\packages\window_manager\images">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/data/flutter_assets/packages/window_manager/images/ic_chrome_unmaximize.png" KeyPath="yes" Checksum="yes" />
			</Component>
			<Component Guid="c2ccee7e-9ece-4f20-84e1-b84148fd7b53" Subdirectory="usbmmidd_v2\x64">
				<File Source="D:/Myproject/vnt2.0/VntcApp1.0/vntcrustdesk-src/vntcrustdesk/usbmmidd_v2/x64/usbmmIdd.dll" KeyPath="yes" Checksum="yes" />
			</Component>
			<!--$AutoComponentEnd$-->

		</ComponentGroup>

	</Fragment>
</Wix>
